<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-hashtag"></i>  <span class="light"> Western</span> Rocky <span class="light"> Adventures </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">The Mission</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><span class="light"> Quality </span> Outdoor <br> <span class="light">Adventure's</span> </h1>
                    <p class="intro-text"> Backpacking | Thru-Hikes | Rock Climbing | Alpine Mountaineering </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About WRA</h2>
            <p>  is an avid outdoorsman and enjoys testing the limits of physical and mental endurance. After struggling for many years to find balance and contentment 
                in life, Chris walked away from a career in law to thru-hike the Pacific Crest Trail. The challenge and self-discovery of the trail changed his life and continues to shape who he is today. Ultimately pursuing 
                AMGA Alpine Guide Certification, Chris lives in Salt Lake City and also enjoys spending time with his two dogs, exploring the Western half of the Rockies and playing piano.

            </p>

             <hr></hr>
            <p> The logistics guy ( Thad ) loves spending time in the outdoors. A Native of the Georgia "Rain" forest, he has a new found love for the west. Earlier in 2017
            he made the decision to trade in the Georgia Red Clay for the Rocky Mountains. Even though GA and the Appalachian Mountains will always be home, he has a new found
            love for the Rockies. Highly enjoys spending time mountain biking, overlanding, hiking, climbing and whatever other adventures the Rockies can give him.
         
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Mission</h2>
                <p> At Western Rocky Adventures, the outdoors is the answer to life’s big questions. We firmly believe everyday struggles and trappings must be balanced with time in the wilderness to maintain well-being and perspective. 
                The physical and mental barriers overcome in the outdoors have time and again proven more valuable than any other lessons learned. Whether mountaineering, climbing, mountain biking, backcountry camping, thru-hiking, snowboarding, 
                or trail running, we’re here to share our experiences and connect fellow adventurers with the passions they love.
</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact US</h2>
            <p>Feel free to email us as we a preparing to open for business. We are open to suggestions for new idea's, or to just say hello!</p>
            <p><a href="mailto:loundsthadwesternrockyadventures@gmail.com">The E-Mail ADDY!</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://instagram.com/heythad" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">instagram</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">YouTube</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Western Rocky Adventures 2018</p>
    </div>
</footer>
